services:
  actingwebdemo:
    build: .
    entrypoint: ["./run.sh"]
    environment:
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_DB_PREFIX=demo
      - AWS_DB_HOST=http://dynamodb:8000
      - APP_HOST_FQDN=localhost:5000
      - APP_HOST_PROTOCOL=https://
    volumes:
      - .:/src
    ports:
      - 5000:5000

  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
