# serverless.yml

service: actingwebdemo

plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-domain-manager
  # If you want to use pseudo parameters, add this plugin
  #- serverless-pseudo-parameters
custom:
  customDomain:
    domainName: 'demo.actingweb.io'
    basePath: ""
    certificateArn: "arn:aws:acm:us-west-1:473852420549:certificate/1035b2fa-35c1-42ac-b70e-250f12b46800"
    endpointType: "regional"
    createRoute53Record: false
    autoDomain: false
  wsgi:
    app: application.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: true
    poetry: true
    poetryWithoutHashes: true
    slim: true
    slimPatterns:
      - "**/*.py[c|o]"
      - "**/__pycache__*"
      - "**/*.dist-info*"
      - "**/*.egg-info*"
      - "**/tests/**"
      - "**/test/**"
      - "**/.pytest_cache/**"
      - "**/docs/**"
      - "**/examples/**"
    noDeploy:
      - boto3
      - botocore
      - s3transfer
      - jmespath
      - docutils
      - urllib3
      - python-dateutil
      - six

package:
  individually: false
  patterns:
    - '!node_modules/**'
    - '!.git/**'
    - '!.venv/**'
    - '!__pycache__/**'
    - '!.pytest_cache/**'
    - '!tests/**'
    - '!.vscode/**'
    - '!.idea/**'
    - '!*.pyc'
    - '!*.pyo'
    - '!.env*'
    - '!docker-compose.yml'
    - '!Dockerfile'
    - '!.dockerignore'
    - '!.gitignore'
    - '!README.rst'
    - '!poetry.lock'
    - '!pyproject.toml'

provider:
  profile: default # use the credentials in ~/.aws/credentials
  name: aws
  runtime: python3.11
  memorySize: 128
  timeout: 29
  stage: prod
  region: us-west-1
  environment:
    APP_HOST_FQDN: 'demo.actingweb.io'
    APP_HOST_PROTOCOL: 'https://'
    LOG_LEVEL: 'DEBUG'
  iam:
    role:   
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:CreateTable
            - dynamodb:DescribeTable
          Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/demo_*"

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'
