<html>
  <body>
	To initialize this actor ({{ id }} with properties, please fill out the form below.

    <form action="/{{ id }}/properties/" method="post">
      <div>Property name:<label>
          Property name:
          <input type="text" name="property" maxlength="100"/>
      </label></div>
      <div>Value<label>
          Value
          <input type="text" name="value" maxlength="100"/>
      </label></div>
      <div><input type="submit" value="Set property"></div>
    </form>

  </body>
</html>